/* css header */
.header{
    background-color: white;
    height: 140px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;

}
.header__container{
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container--borde{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 60px; 
    border: 2px solid white;
}
.header__container--logo{
    width: 290px;
}
.color1{
    color: #fbff00;
}
.color2{
    color: #fbff00;
}
.header__container__texto{
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: end;
    /* justify-content: end; */
}
.header__container__texto--titulo{
    color: white;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}
.header__container__texto--parrafo{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    letter-spacing: 2px;
}
@media only screen and (max-width: 700px) {
    .header__container--borde{
        width: 90px;
        height: 90px;
        border-radius: 60px;
    }
    .header__container--logo{
        width: 250px;
    }
    .header__container__texto{
        width: 70%;
    }
    .header__container__texto--titulo{
        font-size: 22px;
        letter-spacing: 1px;
    }
    .header__container__texto--parrafo{
        font-size: 13px;
    }
}