body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    background-color: #D4E9FC;
    height: calc(100vh  );
    display: flex;
    justify-content: center;
}
.main__container{
    width: 95%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.imagen__container{
    margin-right: 15px;
    width: 700px;
    height: 430px;
    display: flex;
    background-color: #F6F7F8;
    border-radius: 5px;
    box-shadow: 1px 1px 6px gray;
}
.imagen__container--img{
    width: 400px;
    height: 430px;
    border-radius: 5px 0px 0px 5px;
}
.imagen__container--container{
    padding-left: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.imagen__container--titulo{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #707070;
}
.imagen__container--autor{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: #707070;
}
.imagen__container--fecha{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
}
.imagen__container--descripcion{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
}
.imagen__container--contenido{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
}

@media only screen and (max-width: 700px) {
    .imagen__container{
        flex-direction: column;
        width: 100%;
        height: 500px;
        /* background-color: black; */

    }
    .imagen__container--img{
        width: 100%;
        height: 60%;
    }
    .imagen__container--container{
        height: 40%;
    }
    .imagen__container--titulo{
        font-size: 14px;
    }
    .imagen__container--autor{
        font-size: 12px;
    }
    .imagen__container--fecha{
        font-size: 12px;
    }
    .imagen__container--descripcion{
        font-size: 14px;
    }
    .imagen__container--contenido{
        font-size: 14px;
    }
}