body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: center;
}

/* css header */
.header{
    background-color: #02559E;
    height: 140px;
}

/* css navbar */

.navbar{
    background-color: #146BB8;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 40px;
    /* background-color: cadetblue; */
}
.navbar__container--link{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.navbar__container--link:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .navbar__container{
        width: 100%;
    }
    .navbar__container--link{
        font-size: 13px;
    }
}
/* css container */

.container{
    background-color: #F2F9FF;
    height: calc(100vh - 220px);
}

/* css footer */
.footer{
    background-color: #0D2F4C;
    height: 40px;
}