body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: center;
}

/* css header */
.header{
    background-color: #02559E;
    height: 140px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}
.header__container{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container--logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid white;
}
.header__container__texto{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: end;
    /* justify-content: end; */
}
.header__container__texto--titulo{
    color: white;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}
.header__container__texto--parrafo{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

/* css navbar */

.navbar{
    background-color: #146BB8;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 40px;
    /* background-color: cadetblue; */
}
.navbar__container--link{
    color: #F2F9FF;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.navbar__container--link:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* css container */

.container{
    background-color: #D4E9FC;
    height: calc(100vh + 350px);
}
.main__container{
    width: 95%;
    margin: 0;
    padding: 0;
}

.titulos{
    color: #707070;
    font-weight: 500;
    font-size: 16px;
}

/* css card imagenes */
.imagenes__container{
    width: auto;
    height: 250px;
    padding: 10px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}
.imagenes__container::-webkit-scrollbar {
    /* width: 50px; */
    height: 10px;
}
.imagenes__container::-webkit-scrollbar-thumb {
    background: #499FEB;
    border-radius: 4px;
}
.imagenes__container::-webkit-scrollbar-track {
    background: #D4E9FC;
    border-radius: 4px;
}
.imagen__container{
    margin-right: 15px;
    width: 300px;
    height: 230px;
    display: flex;
    background-color: #F6F7F8;
    border-radius: 5px;
    box-shadow: 1px 1px 6px gray;
}
.imagen__container--img{
    width: 200px;
    height: 230px;
    border-radius: 5px 0px 0px 5px;
}
.imagen__container--container{
    padding-left: 5px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.imagen__container--titulo{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: #707070;
}
.imagen__container--autor{
    margin: 0;
    font-weight: 300;
    font-size: 10px;
    color: #707070;
}
.imagen__container--fecha{
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    color: #707070;
}
.imagen__container--descripcion{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
}

/* css videos */
.videos__container{
    width: auto;
    height: 250px;
    padding: 10px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}
.videos__container::-webkit-scrollbar {
    /* width: 50px; */
    height: 10px;
}
.videos__container::-webkit-scrollbar-thumb {
    background: #499FEB;
    border-radius: 4px;
}
.videos__container::-webkit-scrollbar-track {
    background: #D4E9FC;
    border-radius: 4px;
}
.video__container{
    margin-right: 15px;
    width: 300px;
    height: 230px;
    /* display: flex; */
    background-color: #F6F7F8;
    border-radius: 5px;
    box-shadow: 1px 1px 6px gray;
}
.video__container--video{
    border-radius: 5px 5px 0px 0px;
    width: 300px;
    height: 150px;
}
.video__container--titulo{
    margin: 0 10px 0 10px;
    font-weight: 500;
    font-size: 12px;
    color: #707070;
}
.video__container--autor{
    margin: 0 10px 0 10px;
    font-weight: 300;
    font-size: 10px;
    color: #707070;
}
.video__container--fecha{
    margin: 0 10px 0 10px;
    font-weight: 400;
    font-size: 10px;
    color: #707070;
}
.video__container--descripcion{
    margin: 0 10px 0 10px;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
}

/* css Notas */
.notas__container{
    width: auto;
    height: 250px;
    padding: 10px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    box-sizing: border-box;
}
.notas__container::-webkit-scrollbar {
    /* width: 50px; */
    height: 10px;
}
.notas__container::-webkit-scrollbar-thumb {
    background: #499FEB;
    border-radius: 4px;
}
.notas__container::-webkit-scrollbar-track {
    background: #D4E9FC;
    border-radius: 4px;
}
.nota__container{
    width: 300px;
    height: 230px;
    padding: 10px;
    margin: 0 5px 0 5px;
    box-sizing: border-box;
    /* display: flex; */
    background-color: #F6F7F8;
    border-radius: 5px;
    box-shadow: 1px 1px 6px gray;
}
.nota__container--container1{
    display: flex;
    align-items: center;
}
.nota__container--logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid white;
}
.nota__container--container2{
    box-sizing: border-box;
    padding-left: 5px;
    width: 110px;
}
.nota__container--titulo{
    margin: 0 10px 0 10px;
    font-weight: 500;
    font-size: 18px;
    color: #707070;
}
.nota__container--autor{
    margin: 0 10px 0 10px;
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}
.nota__container--fecha{
    margin: 0 10px 0 10px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
}
.nota__container--descripcion{
    margin: 0 10px 0 10px;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}
/* css footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0D2F4C;
    opacity: 0.9;
    height: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.footer__container{
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
    height: 40px;
    /* background-color: coral; */
}
.footer__container--link{
    text-decoration: none;
    color: #F2F9FF;
    font-size: 16px;
    padding-right: 30px;
}
.footer__container--link:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* css info */
.info{
    width: 100%;
    height: 160px;
    background-color: #02559E;
    display: flex;
    justify-content: center;
}
.info__container{
    width: 95%;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
}
.info__container--container1{
    width: 85%;
    padding-right: 10px;
    box-sizing: border-box;
}
.info__container--titulo{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.info__container--parrafo{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.info__container--container2{
    width: 15%;
    display: flex;
    flex-direction: column;

}
.info__container--titulo{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.info__container--link{
    color: #F2F9FF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
.info__container--link:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .header__container--logo{
        width: 60px;
        height: 60px;
    }
    .header__container__texto{
        width: 250px;
    }
    .header__container__texto--titulo{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .header__container__texto--parrafo{
        font-size: 15px;
    }
    .navbar__container{
        width: 100%;
    }
    .navbar__container--link{
        font-size: 13px;
    }
    .footer__container{
        width: 100%;
    }
    .info__container--parrafo{
        font-size: 12px;
    }
}