

.login{
    display: flex;
    /* justify-content: center; */
    border-radius: 20px;
    width: 50%;
}
.login__container{
    width: 100%;
    display: inline-block;
    align-content: center;
}
.login__cotainer--titulo{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #146BB8;
}
.login__container label{
    font-weight: 500;
    font-size: 16px;
    color: #146BB8;
}
.login__container input{
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 50%;
    height: 30px;
    border: none;
    background-color: red;
    border-radius: 15px;
    outline: none;
    font-weight: 900;
    font-size: 16   px;
    color: #496278;
}
.div-login__container--button{
    text-align: center;
}
.login__container--button{
    margin: 0;
    margin-bottom: 10px; 
    width: 50%;
    height: 40px;
    border: none;
    box-shadow: 2px 2px 6px rgb(0, 99, 23);
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;  
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #00BB2D;
}
@media only screen and (max-width: 700px) {
    .login{
        width: 90%;
    }
    .login__container{
        width: 100%;
    }
}