/* css navbar */

.navbar{
    background: rgb(192, 192, 192);
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__container{
    background-color: #ececec;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    border: 0;
    box-shadow: 6px 3px 7px -6px #8d8d8d, -6px 3px 7px -6px #8d8d8d;
    /* background-color: cadetblue; */
}
.navbar__container--logo{
    width: 100px;
    display: flex;
    justify-content: center;
}
.navbar__container--link{
    background-color: white;
    color: #5a5a5a;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.8%;
    height: 60px    ;
}
.navbar__container--link:hover{
    cursor: pointer;
    /* text-decoration: underline; */
    background-color: #ffda52;
}
@media only screen and (max-width: 700px) {
    .navbar__container--logo{
        width: 60px;

    }
    .navbar__container{
        width: 100%;
    }
    .navbar__container--link{
        font-size: 12px;
    }
}

.banner{
    background: rgb(192, 192, 192);
    height: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__container{
    background: #022f84;
    background: radial-gradient(circle, #fccf31 0%,  #f55555 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 300px;
    box-shadow: 6px 3px 7px -6px #414141, -6px 3px 7px -6px #414141;
}
.banner__container--img1{
    width: 400px;
}
.banner__container--img2{
    width: 350px;
}
@media only screen and (max-width: 700px) {
    .banner__container{
        width: 100%;
        height: 200px;
        flex-direction: column;
    }
    .banner{
        height: 200px;
    }
    .banner__container--img1{
        width: 200px;
    }
    .banner__container--img2{
        width: 200px;
    }
}