body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* css container */

.container{
    background-color: #D4E9FC;
    height: calc(100vh + 350px);
    display: flex;
    justify-content: center;
}
.main__container{
    width: 95%;
    margin: 0;
    padding: 0;
}
.imagen{
    display: flex;
    justify-content: center;
}
.imagen__container{
    width: 50%;
    background-color: #499FEB;
    box-shadow: 2px 2px 6px #02559E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen__container--titulo{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.imagen__container--input{
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 90%;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 15px;
    outline: none;
    font-weight: 400;
    font-size: 16   px;
    color: #496278;
}
.imagen__container--input2{
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 90%;
    height: 60px;
    border: none;
    background-color: white;
    border-radius: 15px;
    outline: none;
    font-weight: 400;
    font-size: 16   px;
    color: #496278;
}
.imagen__container--input3{
    width: 90%;
    margin-bottom: 10px;
    font-size: 20px;
    height: 40px;
}
.imagen__container--button{
    margin: 0;
    margin-bottom: 10px; 
    width: 50%;
    height: 40px;
    border: none;
    box-shadow: 2px 2px 6px rgb(0, 99, 23);
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;  
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #00BB2D;
}
.progreso{
    width: 95%;
    background-color: #D4E9FC;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.porcentaje{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 10px;
    background-color: #146BB8;
}
@media only screen and (max-width: 700px) {
    .imagen__container{
        width: 95%;
    }
}